body {
  width: 35em;
  font-family: "Open Sans Light", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}

.textLabel {
  margin-left: 1.0em;
}

#shortcut {
  font-family: monospace;
  width: 10em;
  cursor: pointer;
}

.shortcut-error {
  color: red;
  margin: 0.2em 0 0 1em;
  font-size: 0.9em;
}

textarea[type="text"] {
  margin: 0.5em;
  width: 450px;
  height: 1.5em;
  resize: none;
  overflow: hidden;
}
